@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "PingFang TC", "Helvetica Neue", Times, Roboto, "Noto Sans TC", sans-serif;
}

.flex_row {
  display: flex;
  flex-direction: row;
}

.flex_row_reverse {
  display: flex;
  flex-direction: row-reverse;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.flex_jcc {
  justify-content: center;
}

.flex_jcsb {
  justify-content: space-between;
}

.flex_jcfs {
  justify-content: flex-start;
}

.flex_jcfe {
  justify-content: flex-end;
}

.flex_aic {
  align-items: center;
}

.flex_aifs {
  align-items: flex-start;
}

.flex_aife {
  align-items: flex-end;
}

.flex_acs {
  align-content: start;
}

.flex_ace {
  align-content: end;
}

.flex_acfc {
  align-content: center;
}

.flex_acsb {
  align-content: space-between;
}

.flex_wrap {
  flex-wrap: wrap;
}

.flex_ase {
  align-self: self-end;
}

.flex_grow1 {
  flex-grow: 1;
}

.border_all_lightgreen {
  border: 1px solid #EAF0ED;
}

.border_top_lightgreen {
  border-top: 1px solid #EAF0ED;
}

.border_bottom_lightgreen {
  border-bottom: 1px solid #EAF0ED;
}

.border_top_gray {
  border-top: 1px solid rgba(0, 0, 0, 0.1254901961);
}

.border_all_gray {
  border: 1px solid rgba(0, 0, 0, 0.1254901961);
}

.border_white {
  border: 1px solid #FFFFFF;
}

.border_gray {
  border: 1px solid #F2F2F2;
}

.border_top_gray_footer {
  border-top: 1px solid #F2F2F2;
}

.border_bottom_gray {
  border-bottom: 1px solid #F2F2F2;
}

.border-radius {
  border-radius: 16px;
}

.border-radius_L {
  border-radius: 160px;
}

.border-shadow {
  border: 1px solid #DEE2E6;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 10px 10px 0px 0px;
}

.border-none {
  border: none;
}

.fw900_lh150 {
  font-weight: 900;
  line-height: 150%;
}

.fw900_lh120 {
  font-weight: 900;
  line-height: 120%;
}

.fw700_lh150 {
  font-weight: 700;
  line-height: 150%;
}

.fw500_lh150 {
  font-weight: 500;
  line-height: 150%;
}

.fw500_lh120 {
  font-weight: 500;
  line-height: 120%;
}

.fw500_lh200 {
  font-weight: 500;
  line-height: 200%;
}

.fw400_lh150 {
  font-weight: 400;
  line-height: 150%;
}

.main_color {
  color: #3F5D45;
}

.second_color {
  color: #2C4832;
}

.green_color {
  color: #8DA291;
}

.mainlight_color {
  color: #EAF0ED;
}

.yellow_color {
  color: #FFE180;
}

.black_color {
  color: #000000;
}

.darkgray_color {
  color: #707070;
}

.gray_color {
  color: #DEE2E6;
}

.rice_color {
  color: #FBF2F2;
}

.white_color {
  color: #FFFFFF;
}

.lightgray_color {
  color: #555555;
}

.fs_14 {
  font-size: 14px;
}

.fs_16 {
  font-size: 16px;
}

.fs_18 {
  font-size: 18px;
}

.fs_20 {
  font-size: 20px;
}

.fs_24 {
  font-size: 24px;
}

.fs_32 {
  font-size: 32px;
}

.fs_34 {
  font-size: 34px;
}

.fs_36 {
  font-size: 36px;
}

.fs_42 {
  font-size: 42px;
}

.fs_48 {
  font-size: 48px;
}

.fs_64 {
  font-size: 64px;
}

.fs_italic {
  font-style: italic;
}

.mx_auto {
  margin: 0 auto;
}

.mx_12 {
  margin-left: 12px;
  margin-right: 12px;
}

.mx_18 {
  margin-left: 18px;
  margin-right: 18px;
}

.my_8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my_16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my_24 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.my_30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mr_8 {
  margin-right: 8px;
}

.mr_10 {
  margin-right: 10px;
}

.mr_16 {
  margin-right: 16px;
}

.mr_20 {
  margin-right: 20px;
}

.mr_40 {
  margin-right: 40px;
}

.mr_48 {
  margin-right: 48px;
}

.mr_80 {
  margin-right: 80px;
}

.ml_18 {
  margin-left: 18px;
}

.ml_32 {
  margin-left: 32px;
}

.ml_48 {
  margin-left: 48px;
}

.ml_64 {
  margin-left: 64px;
}

.mb_4 {
  margin-bottom: 4px;
}

.mb_8 {
  margin-bottom: 8px;
}

.mb_16 {
  margin-bottom: 16px;
}

.mb_20 {
  margin-bottom: 20px;
}

.mb_24 {
  margin-bottom: 24px;
}

.mb_30 {
  margin-bottom: 30px;
}

.mb_32 {
  margin-bottom: 32px;
}

.mb_36 {
  margin-bottom: 36px;
}

.mb_40 {
  margin-bottom: 40px;
}

.mb_48 {
  margin-bottom: 48px;
}

.mb_52 {
  margin-bottom: 52px;
}

.mb_60 {
  margin-bottom: 60px;
}

.mb_72 {
  margin-bottom: 72px;
}

.mb_80 {
  margin-bottom: 80px;
}

.mb_95 {
  margin-bottom: 95px;
}

.mb_105 {
  margin-bottom: 105px;
}

.mb_124 {
  margin-bottom: 124px;
}

.mb_248 {
  margin-bottom: 248px;
}

.mt_30 {
  margin-top: 30px;
}

.mt_72 {
  margin-top: 72px;
}

.mt_80 {
  margin-top: 80px;
}

.mt_96 {
  margin-top: 96px;
}

.pl_2 {
  padding-left: 2px;
}

.pl_10 {
  padding-left: 10px;
}

.pl_12 {
  padding-left: 12px;
}

.pl_16 {
  padding-left: 16px;
}

.pl_18 {
  padding-left: 18px;
}

.pl_20 {
  padding-left: 20px;
}

.pl_24 {
  padding-left: 24px;
}

.pl_25 {
  padding-left: 25px;
}

.pl_33 {
  padding-left: 33px;
}

.pl_56 {
  padding-left: 56px;
}

.pr_2 {
  padding-right: 2px;
}

.pr_6 {
  padding-right: 6px;
}

.pr_20 {
  padding-right: 20px;
}

.pr_210 {
  padding-right: 210px;
}

.pt_8 {
  padding-top: 8px;
}

.pt_12 {
  padding-top: 12px;
}

.pt_16 {
  padding-top: 16px;
}

.pt_40 {
  padding-top: 40px;
}

.pt_48 {
  padding-top: 48px;
}

.pt_130 {
  padding-top: 130px;
}

.pb_16 {
  padding-bottom: 16px;
}

.pb_20 {
  padding-bottom: 20px;
}

.pb_30 {
  padding-bottom: 30px;
}

.pb_116 {
  padding-bottom: 116px;
}

.pxy_16 {
  padding: 16px 16px;
}

.px_16 {
  padding-left: 16px;
  padding-right: 16px;
}

.px_20 {
  padding-left: 20px;
  padding-right: 20px;
}

.px_24 {
  padding-left: 24px;
  padding-right: 24px;
}

.px_30 {
  padding-left: 30px;
  padding-right: 30px;
}

.px_40 {
  padding-left: 40px;
  padding-right: 40px;
}

.py_6 {
  padding-top: 6px;
  padding-bottom: 6px;
}

.py_8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py_14 {
  padding-top: 14px;
  padding-bottom: 14px;
}

.py_16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py_18 {
  padding-top: 18px;
  padding-bottom: 18px;
}

.py_24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.py_30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py_32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.py_40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py_70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.py_80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.py_296 {
  padding-top: 296px;
  padding-bottom: 296px;
}

.gap_x24_y48 {
  gap: 48px 24px;
}

.gap_x48_y0 {
  gap: 0px 48px;
}

.gap_x60_y0 {
  gap: 0px 60px;
}

.gap_x24_y_0 {
  gap: 0px 24px;
}

.gap_x20_y20 {
  gap: 20px 20px;
}

.gap_x0_y20 {
  gap: 20px 0px;
}

.gap_x8_y0 {
  gap: 0px 8px;
}

.bg_main {
  background: #3F5D45;
}

.bg_second_main {
  background: #2C4832;
}

.bg_light_main {
  background: #EAF0ED;
}

.bg_yellow {
  background: #FFE180;
}

.bg_second {
  background: #FBF2F2;
}

.bg_white {
  background: white;
}

.bg_gray {
  background: #F2F2F2;
}

.bg_brown {
  background: #B75929;
}

.bg_brown_dark {
  background: #5F3E2D;
}

.bg_black {
  background: #000000;
}

.text_center {
  text-align: center;
}

.text_end {
  text-align: end;
}

.text_nonedeco {
  text-decoration: none;
}

.material-icons.fs_16 {
  font-size: 16px;
}

.material-icons.fs_18 {
  font-size: 18px;
}

.material-icons.fs_20 {
  font-size: 20px;
}

.material-icons.fs_24 {
  font-size: 24px;
}

.material-icons.fs_30 {
  font-size: 30px;
}

.material-icons.fs_36 {
  font-size: 36px;
}

.display_block {
  display: block;
}

.word_break {
  word-break: break-all;
}

.wid_100per {
  max-width: 100%;
}

.wid_50per {
  max-width: 50%;
}

.wrmode_vertical {
  writing-mode: vertical-rl;
}

.textorient {
  text-orientation: upright;
}

.posit_relat {
  position: relative;
}

.posit_abs_t40_r40 {
  position: absolute;
  top: 40px;
  right: 40px;
}

.posit_abs_t20_r42 {
  position: absolute;
  top: -20px;
  right: 42px;
}

.posit_abs_t20_l42 {
  position: absolute;
  top: -20px;
  left: 42px;
}

.posit_abs_t20_l392 {
  position: absolute;
  top: -20px;
  left: 392px;
}

.posit_abs_t400_r0 {
  position: absolute;
  top: 400px;
}

.ls_10 {
  letter-spacing: 10px;
}

.ls_6 {
  letter-spacing: 6px;
}

.ls_0 {
  letter-spacing: 0px;
}

.H_280 {
  height: 280px;
}

.H_496 {
  height: 496px;
}

.H_56 {
  height: 56px;
}

.H_48 {
  height: 48px;
}

.zindex4 {
  z-index: 5;
}

.zindex1 {
  z-index: 1;
}

.wrap {
  margin: 0 auto;
  padding-top: 30px;
}

.width_frame_940_W {
  width: 940px;
}

.logotype_frame_W {
  width: 220px;
}

.logotype_max_W {
  max-width: 100%;
}

.width_frame_1024_W {
  width: 1024px;
}

.width_frame_300_W {
  width: 300px;
}

.width_frame_780_W {
  width: 780px;
}

.width_frame_620_W {
  width: 620px;
}

.width_frame_570_W {
  width: 570px;
}

.width_frame_460_W {
  width: 460px;
}

.width_frame_436_W {
  width: 436px;
}

.width_frame_330_W {
  width: 330px;
}

.width_frame_380_W {
  width: 380px;
}

.width_frame_390_W {
  width: 390px;
}

.width_frame_315_W {
  width: 315px;
}

.width_frame_264_W {
  width: 264px;
}

.width_frame_226_W {
  width: 226px;
}

.width_frame_196_W {
  width: 196px;
}

.width_frame_190_W {
  width: 190px;
}

.width_frame_186_W {
  width: 186px;
}

.width_frame_145_W {
  width: 145px;
}

.width_frame_120_W {
  width: 120px;
}

.width_frame_110_W {
  width: 110px;
}

.width_frame_105_W {
  width: 105px;
}

.width_frame_90_W {
  width: 90px;
}

.width_frame_60_W {
  width: 60px;
}

.width_frame_48_W {
  width: 48px;
}

.promote_frame::before {
  content: "本日精選";
  writing-mode: vertical-rl;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  color: white;
  background: #3F5D45;
  position: absolute;
  top: 0px;
  left: 20px;
}

.promote_frame::after {
  content: "";
  background-image: url(pic/favorite_border.png);
  width: 20px;
  height: 20px;
  z-index: 1;
  position: absolute;
  top: 20px;
  right: 20px;
}

.logo_frame {
  width: 40px;
}

.icon_frame {
  width: 32px;
}

.logotype_frame {
  width: 170px;
}

.searchbar_frame {
  width: 380px;
}

.forwardbtn_frame {
  width: 64px;
}

.forwardbtnicon_frame {
  width: 16x;
}

.homepage_cover_frame {
  max-width: 100%;
  height: 496px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.homepage_cover_frame_460_W {
  width: 460px;
}

.whychose_pic_frame {
  width: 460px;
  height: 460px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.whychose_div_frame {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.menu_list_frame_a {
  width: 260px;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg_blurtoday {
  background-image: url(pic/photo-blur1.avif);
}

.bg_blurhot {
  background-image: url(pic/photo-blur2.avif);
}

.bg_blurnew {
  background-image: url(pic/photo-blur3.avif);
}

.menu_list_frame {
  max-width: 100%;
  height: 256px;
  background: #3F5D45;
  opacity: 0.8;
}

.backdrop-blur {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.menu_list_frame:hover {
  color: #3F5D45;
  background: #FFE180;
}

.product_cover_frame {
  height: 496px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.product_aside_frame {
  width: 300px;
}

.btn:active {
  background: #3F5D45;
  color: white;
}

.social_media_img_size {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  max-width: 32%;
}

.pseudo_line {
  position: relative;
}

.pseudo_line::before {
  content: "";
  position: absolute;
  border: 1px solid #EAF0ED;
  width: 100%;
  top: 10px;
  z-index: 1;
}

.ph_color::-webkit-input-placeholder {
  color: #8DA291;
}

.cart_img_frame {
  width: 120px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.pseudo_line_main {
  position: relative;
}

.pseudo_line_main::before {
  content: "";
  position: absolute;
  border: 1px solid #3F5D45;
  width: 34.7%;
  top: 10px;
  left: 20px;
  z-index: 1;
}

.pseudo_line_main::after {
  content: "";
  position: absolute;
  border: 1px solid #3F5D45;
  width: 34.7%;
  top: 10px;
  right: 20px;
  z-index: 1;
}

.payment_successful_bg {
  background-image: url(pic/payment_successful.avif);
  background-size: cover;
  background-position: center center;
  width: 100%;
}

.back_to_index_page_frame {
  width: 300px;
}

.display_none {
  display: none;
}

.wid_100per {
  width: 100%;
}

.wid_50per {
  width: 50%;
}

.wid_33per {
  width: 33.3%;
}

.hover_optic_red {
  position: relative;
}

.hover_optic_red:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  border: 4px solid #AA0601;
  bottom: 0px;
  left: 0px;
}

.hover_sunglasses_red {
  position: relative;
}

.hover_sunglasses_red:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  border: 4px solid #AA0601;
  bottom: 0px;
  left: 0px;
}

.hover_functional_red {
  position: relative;
}

.hover_functional_red:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  border: 4px solid #AA0601;
  bottom: 0px;
  left: 0px;
}

.min_90_W {
  min-width: 90px;
}

@media (max-width: 1200px) {
  .width_frame_1024_W {
    max-width: 100%;
  }
  .width_frame_940_W {
    max-width: 100%;
  }
  .width_frame_780_W {
    max-width: 100%;
  }
  .menu_list_frame {
    max-width: 100%;
  }
  .menu_list_frame_a {
    max-width: 100%;
  }
  .homepage_cover_frame_460_W {
    max-width: 100%;
  }
  .width_frame_315_W {
    max-width: 100%;
  }
  .width_frame_570_W {
    max-width: 100%;
  }
  .width_frame_620_W {
    max-width: 100%;
  }
  .width_frame_300_W {
    max-width: 100%;
  }
  .width_frame_380_W {
    max-width: 100%;
  }
  .width_frame_390_W {
    max-width: 100%;
  }
  .width_frame_330_W {
    max-width: 100%;
  }
  .width_frame_460_W {
    max-width: 100%;
  }
  .width_frame_436_W {
    max-width: 100%;
  }
  .width_frame_264_W {
    max-width: 100%;
  }
  .width_frame_226_W {
    max-width: 100%;
  }
  .width_frame_196_W {
    max-width: 100%;
  }
  .width_frame_190_W {
    max-width: 100%;
  }
  .width_frame_186_W {
    max-width: 100%;
  }
  .width_frame_145_W {
    max-width: 100%;
  }
  .width_frame_120_W {
    max-width: 100%;
  }
  .width_frame_110_W {
    max-width: 100%;
  }
  .width_frame_105_W {
    max-width: 100%;
  }
  .width_frame_90_W {
    max-width: 100%;
  }
  .width_frame_60_W {
    max-width: 100%;
  }
  .width_frame_48_W {
    max-width: 100%;
  }
  .logotype_frame_W {
    max-width: 100%;
  }
  .logotype_frame {
    max-width: 100%;
  }
  .back_to_index_page_frame {
    max-width: 100%;
  }
}
@media (max-width: 1023px) {
  .display_none_lg {
    display: none;
  }
  .display_lg {
    display: block;
  }
  .flex_column_lg {
    display: flex;
    flex-direction: column;
  }
  .flex_jcc_lg {
    justify-content: center;
  }
  .flex_aic_lg {
    align-items: center;
  }
  .mr_0_lg {
    margin-right: 0px;
  }
  .mb_190_lg {
    margin-bottom: 190px;
  }
  .mb_30_lg {
    margin-bottom: 30px;
  }
  .mb_0_lg {
    margin-bottom: 0px;
  }
  .H_280 {
    height: inherit;
  }
  .pr_30_lg {
    padding-right: 30px;
  }
  .pl_30_lg {
    padding-left: 30px;
  }
  .whychose_pic_frame {
    width: 375px;
    height: 250px;
  }
  .posit_abs_t70_l42_lg {
    position: absolute;
    top: 70px;
    left: 42px;
  }
  .posit_abs_t70_r42_lg {
    position: absolute;
    top: 70px;
    right: 42px;
  }
  .product_aside_frame {
    width: 375px;
  }
}
@media (max-width: 900px) {
  .display_none_9md {
    display: none;
  }
  .display_9md {
    display: block;
  }
  .flex_jcc_9md {
    justify-content: center;
  }
  .py_30_9md {
    padding-left: 30px;
    padding-right: 30px;
  }
  .pxy_30_9md {
    padding: 30px;
  }
  .product_aside_frame {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .flex_column_md {
    display: flex;
    flex-direction: column;
  }
  .flex_jcc_md {
    justify-content: center;
  }
  .flex_aic_md {
    align-items: center;
  }
  .md_30_md {
    margin-bottom: 30px;
  }
}
@media (max-width: 576px) {
  .searchbar_frame {
    width: 315px;
  }
  .width_frame_300_W {
    width: 315px;
  }
  .logotype_frame_W {
    width: 114px;
  }
  .homepage_cover_frame {
    height: 227px;
  }
  .posit_abs_t400_r0 {
    top: 227px;
  }
  .menu_list_frame {
    height: 180px;
  }
  .posit_abs_t30_r30_sm {
    top: 30px;
    right: 30px;
  }
  .width_frame_90_W {
    width: 60px;
  }
  .product_cover_frame {
    height: 277px;
  }
  .social_media_img_size_sm {
    max-width: 80%;
  }
  .width_frame_110_W {
    width: 157px;
  }
  .border_bottom_lightgreen_sm {
    border-bottom: 1px solid #EAF0ED;
  }
  .bg_light_main_sm {
    background: #EAF0ED;
  }
  .main_color_sm {
    color: #3F5D45;
  }
  .mainlight_color_sm {
    color: #EAF0ED;
  }
  .bg_white_sm {
    background: white;
  }
  .border_all_lightgreen_sm {
    border: 1px solid #EAF0ED;
  }
  .back_to_index_page_frame {
    width: 375px;
  }
  .flex_row_sm {
    display: flex;
    flex-direction: row;
  }
  .flex_column_sm {
    display: flex;
    flex-direction: column;
  }
  .flex_jcc_sm {
    justify-content: center;
  }
  .flex_jcfe_sm {
    justify-content: end;
  }
  .flex_jcsb_sm {
    justify-content: space-between;
  }
  .flex_aic_sm {
    align-items: center;
  }
  .flex_aifs_sm {
    align-items: flex-start;
  }
  .flex_ain_sm {
    align-items: normal;
  }
  .flex_ase_sm {
    align-self: self-end;
  }
  .mx_0_sm {
    margin-left: 0px;
    margin-right: 0px;
  }
  .mx_30_sm {
    margin-left: 30px;
    margin-right: 30px;
  }
  .my_12_sm {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .my_16_sm {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .mr_0_sm {
    margin-right: 0px;
  }
  .mr_16_sm {
    margin-right: 16px;
  }
  .ml_14_sm {
    margin-left: 14px;
  }
  .mt_0_sm {
    margin-top: 0px;
  }
  .mb_0_sm {
    margin-bottom: 0px;
  }
  .mb_8_sm {
    margin-bottom: 8px;
  }
  .mb_24_sm {
    margin-bottom: 24px;
  }
  .mb_30_sm {
    margin-bottom: 30px;
  }
  .mb_32_sm {
    margin-bottom: 32px;
  }
  .mb_40_sm {
    margin-bottom: 40px;
  }
  .mt_64_sm {
    margin-bottom: 64px;
  }
  .mt_40_sm {
    margin-top: 40px;
  }
  .mb_64_sm {
    margin-bottom: 64px;
  }
  .mb_210_sm {
    margin-bottom: 210px;
  }
  .pxy_30_sm {
    padding: 30px 30px;
  }
  .px_0_sm {
    padding-left: 0px;
    padding-right: 0px;
  }
  .px_14_sm {
    padding-left: 14px;
    padding-right: 14px;
  }
  .px_30_sm {
    padding-left: 30px;
    padding-right: 30px;
  }
  .px_62_sm {
    padding-left: 62px;
    padding-right: 62px;
  }
  .py_12_sm {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .py_14_sm {
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .py_24_sm {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .py_30_sm {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .py_40_sm {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .py_144_sm {
    padding-top: 144px;
    padding-bottom: 144px;
  }
  .py_208_sm {
    padding-top: 208px;
    padding-bottom: 208px;
  }
  .pl_30_sm {
    padding-left: 30px;
  }
  .pb_8_sm {
    padding-bottom: 8px;
  }
  .pt_24_sm {
    padding-top: 24px;
  }
  .gap_x0_y24_sm {
    gap: 24px 0px;
  }
  .gap_x0_y30_sm {
    gap: 30px 0px;
  }
  .fs_16_sm {
    font-size: 16px;
  }
  .fs_20_sm {
    font-size: 20px;
  }
  .fs_24_sm {
    font-size: 24px;
  }
  .fs_36_sm {
    font-size: 36px;
  }
  .display_none_sm {
    display: none;
  }
  .display_blockon_sm {
    display: block;
  }
  .material-icons.fs_16_sm {
    font-size: 16px;
  }
  .border_white_sm {
    border: 1px solid white;
  }
  .border_bottom {
    border-bottom: 0px;
  }
  .border_bottom_sm {
    border-bottom: 1px solid #F2F2F2;
  }
  .wid_50per_sm {
    width: 49.5%;
  }
  .wid_100per_sm {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .searchbar_frame {
    max-width: 100%;
  }
  .flex_wrap_smm {
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=All.css.map */